body {
  font-family: Georgia;
  max-width: 400px;
  margin: 0 auto;
  padding: 100px;
  display: flex;
  background-color: #f6f6f4;
}
.container {
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.form_group {
  margin-bottom: 1rem;
}
.head{
    text-align: left;
    font-size: 25px;
    margin-bottom: 0.5rem;
}
p{
  font-size: 50%;
  font-weight: bold;
}
a{
  color: #097e8b;
}
label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 80%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.checkbox{
  display: flex;
  margin-bottom: 1rem;
}
.login-btn {
  background-color: #097e8b;
  color: white;
  border: none;
  padding: 0.5rem 1.3rem;
  font-size: 1rem;
  border-radius: 60px;
  width: 50%;
}
.links {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.links a {
  color: #097e8b;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}